
body{
margin:0;
font-family:Arial;
background:#0f172a;
color:white;
padding:20px;
}

.hidden{
display:none;
}

.card{
background:#1e293b;
padding:20px;
border-radius:16px;
margin-bottom:20px;
}

.balance-card{
background:linear-gradient(135deg,#22c55e,#15803d);
padding:25px;
border-radius:20px;
margin-bottom:20px;
}

#balance{
font-size:40px;
font-weight:bold;
}

input,select,button{
width:100%;
padding:12px;
margin-top:10px;
border:none;
border-radius:10px;
}

button{
background:#3b82f6;
color:white;
font-weight:bold;
cursor:pointer;
}

.entry{
background:#334155;
padding:12px;
border-radius:10px;
margin-top:10px;
}

.add{
border-left:5px solid #22c55e;
}

.cost{
border-left:5px solid #ef4444;
}

.topbar{
display:flex;
justify-content:space-between;
align-items:center;
}

.small{
opacity:0.7;
text-align:center;
}
